# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
instance/

# Virtual Environment
venv/
env/

# Node
node_modules/

# OS/editor-specific files
.DS_Store
*.swp
*.swo

# logs
*.log
